.logo{
  height: 40px;
  display: inline-block;
  background-size: cover;
}

.active {
    --ion-text-color: var(--ion-color-primary);

    ion-icon {
        --ion-text-color-rgb: var(--ion-color-primary);
    }
}

.parent-active {
    font-weight: 500;
}

.nav-menu {
    background: var(--custom-sidebar-bg);
    height: 100%;

    .login-logo {
        color: #fff;
        text-decoration: none;

        img {
            max-width: 45px;
            margin-right: 10px;
        }
    }

    ion-content {
        --background: var(--custom-sidebar-bg);

        & > ion-list {
            padding-top: 20px;
        }

        ion-list {
            background: transparent;

            & > div {
                position: relative;

                &:before {
                    content: '';
                    width: 3px;
                    top: 0;
                    bottom: 0;
                    z-index: 9;
                    left: 0;
                    display: block;
                    position: absolute;
                }

                &.grand-active {
                    &:before {
                        background: var(--ion-color-secondary);
                    }
                }
            }

            ion-item {
                --background: transparent;
                --border-width: 0;
                --border-color: transparent;
                font-size: 15px;
                font-weight: 400;
                position: relative;

                ion-label,
                ion-icon {
                    color: var(--custom-sidebar-color);
                }

                ion-icon {
                    max-width: 18px;
                    margin-right: 15px;
                }

                .arrow {
                    position: absolute;
                    width: 35px;
                    height: 48px;
                    display: flex;
                    right: 0;
                    top: 0;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    ion-icon {
                        max-width: 30px;
                    }
                }

                &.active,
                &.parent-active {
                    --background: var(--custom-sidebar-darkbg);

                    ion-label,
                    ion-icon {
                        color: var(--ion-color-secondary);
                    }
                }

            
                &:hover:not(.parent-active) {
                    ion-label,
                    ion-icon {
                        color: var(--ion-color-secondary);
                    }
                }
            }

            &.sub-items {
                padding: 0;
                background: var(--custom-active-listbg);

                ion-item {
                    padding: 0;

                    &.sub-item {
                        font-size: 14px;
                    }

                    ion-label {
                        padding-left: 33px;
                    }
                }
            }
        }
    }
}
