<div class="nav-menu">
    <div class="intro-header p-15">
      <a href="" class="login-logo d-flex flex-row align-center">
        <img [src]="imgURL" alt="Logo" />
        Medical App
      </a>
    </div>
    <ion-content class="bg-profile">
      <ion-list>
        <div *ngFor="let p of appPages">
        <ion-menu-toggle auto-hide="false"  *ngIf="p.url"  [class.grand-active]="isActive(p)">
          <ion-item
            [routerLink]="p.url"
            [routerDirection]="'root'"
            (click)="onMenuClick(p)"
            routerLinkActive="active"
            >
            <ion-icon [name]="p.icon" slot="start"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <div *ngIf="p.children" [class.grand-active]="isActive(p)">
            <ion-item
              (click)="onMenuClick(p)"
              [detail]="false"
              [class.parent-active]="isActive(p)"
              >
              <ion-icon [name]="p.icon" slot="start"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
              <div *ngIf="p.children?.length > 0" class="arrow">
                  <ion-icon name="arrow-dropright" *ngIf="showMenu !== p"></ion-icon>
                  <ion-icon name="arrow-dropdown" *ngIf="showMenu === p"></ion-icon>
              </div>
            </ion-item>
            <ion-list *ngIf="showMenu === p" class="sub-items">
              <ion-menu-toggle auto-hide="false" *ngFor="let sub of p.children">
              <ion-item  class="sub-item" [routerLink]="sub.url" routerDirection="root" routerLinkActive="active">
                <ion-label>{{ sub.title }}</ion-label>
              </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </div>
      </div>
      </ion-list>
    </ion-content>
</div>