<ion-grid class="p-30 pt-0 mob-p-15">
  <ion-title class="page-title mob-p-10">Anthropometric Measurements</ion-title>
  <ion-card class="bg-white form-card mob-p-10">
    <form class="basicInfoForm">
      <ion-row>
        <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
          <ion-label class="input-label">Height</ion-label>
          <ion-input class="input-text" placeholder="Enter height"></ion-input>
        </ion-col>
        <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
          <ion-label class="input-label">Weight</ion-label>
          <ion-input class="input-text" placeholder="Enter weight"></ion-input>
        </ion-col>
        <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
          <ion-label class="input-label">BMI</ion-label>
          <ion-input class="input-text" placeholder="Enter BMI"></ion-input>
        </ion-col>
        <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
          <ion-label class="input-label">Abdominal Circumference</ion-label>
          <ion-input class="input-text" placeholder="Enter abdominal circumference"></ion-input>
        </ion-col>
        <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
          <ion-label class="input-label">Mid Arm Circumference</ion-label>
          <ion-input class="input-text" placeholder="Enter arm circumference"></ion-input>
        </ion-col>
        <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
          <ion-label class="input-label">Heart Rate</ion-label>
          <ion-input class="input-text" placeholder="Enter heart rate"></ion-input>
        </ion-col>
        <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
          <ion-label class="input-label">Pulse Rate</ion-label>
          <ion-input class="input-text" placeholder="Enter pulse rate"></ion-input>
        </ion-col>
        <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
          <ion-label class="input-label">Respiration Rate</ion-label>
          <ion-input class="input-text" placeholder="Enter respiration rate"></ion-input>
        </ion-col>
        <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
          <ion-label class="input-label">Blood Pressure</ion-label>
          <ion-input class="input-text" placeholder="Enter blood pressure"></ion-input>
        </ion-col>
      </ion-row>
    </form>
    <ion-row class="mt-15">
      <ion-col size="12" class="submitButton no-padding">
        <ion-button type="submit" class="btn btn-primary">
          Save and Continue<ion-icon name="arrow-forward" class="ml-5"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-grid>