<ion-header>
  <ion-toolbar>
    <ion-title>Present Medical History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="page-title">Present Medical History Info</ion-title>
  <form class="basicInfoForm">
    <ion-grid>
      <ion-row>
        <ion-list class="list-radio full-width">
          <ion-radio-group class="display-flex">
            <ion-col size="3" class="col-align">
              <ion-list-header class="head">
                <ion-label>Fever for more than a week?</ion-label>
              </ion-list-header>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Yes</ion-label>
                <ion-radio class="radio m-5" value="Yes" slot="start"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">No</ion-label>
                <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-list class="list-radio full-width">
          <ion-radio-group class="display-flex">
            <ion-col size="3" class="col-align">
              <ion-list-header class="head">
                <ion-label>Caugh for more than a week?</ion-label>
              </ion-list-header>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Yes</ion-label>
                <ion-radio class="radio m-5" value="Yes" slot="start"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">No</ion-label>
                <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-list class="list-radio full-width">
          <ion-radio-group class="display-flex">
            <ion-col size="3" class="col-align">
              <ion-list-header class="head">
                <ion-label>Ear discharge?</ion-label>
              </ion-list-header>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Yes</ion-label>
                <ion-radio class="radio m-5" value="Yes" slot="start"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">No</ion-label>
                <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-list class="list-radio full-width">
          <ion-radio-group class="display-flex">
            <ion-col size="3" class="col-align">
              <ion-list-header class="head">
                <ion-label>Recurrent throat infection?</ion-label>
              </ion-list-header>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Yes</ion-label>
                <ion-radio class="radio m-5" value="Yes" slot="start"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">No</ion-label>
                <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-list class="list-radio full-width">
          <ion-radio-group class="display-flex">
            <ion-col size="3" class="col-align">
              <ion-list-header class="head">
                <ion-label>Recurrent cold?</ion-label>
              </ion-list-header>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Yes</ion-label>
                <ion-radio class="radio m-5" value="Yes" slot="start"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">No</ion-label>
                <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-list class="list-radio full-width">
          <ion-radio-group class="display-flex">
            <ion-col size="3" class="col-align">
              <ion-list-header class="head">
                <ion-label>Frequent headache?</ion-label>
              </ion-list-header>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Yes</ion-label>
                <ion-radio class="radio m-5" value="Yes" slot="start"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">No</ion-label>
                <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-list class="list-radio full-width">
          <ion-radio-group class="display-flex">
            <ion-col size="3" class="col-align">
              <ion-list-header class="head">
                <ion-label>Scabies?</ion-label>
              </ion-list-header>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Yes</ion-label>
                <ion-radio class="radio m-5" value="Yes" slot="start"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">No</ion-label>
                <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-list class="list-radio full-width">
          <ion-radio-group class="display-flex">
            <ion-col size="3" class="col-align">
              <ion-list-header class="head">
                <ion-label>Anemia?</ion-label>
              </ion-list-header>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Yes</ion-label>
                <ion-radio class="radio m-5" value="Yes" slot="start"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">No</ion-label>
                <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-list class="list-radio full-width">
          <ion-radio-group class="display-flex">
            <ion-col size="3" class="col-align">
              <ion-list-header class="head">
                <ion-label>Worm Infestations?</ion-label>
              </ion-list-header>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Yes</ion-label>
                <ion-radio class="radio m-5" value="Yes" slot="start"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">No</ion-label>
                <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-list class="list-radio full-width">
          <ion-radio-group class="display-flex">
            <ion-col size="3" class="col-align">
              <ion-list-header class="head">
                <ion-label>Recurrent urinary tract Infections?</ion-label>
              </ion-list-header>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Yes</ion-label>
                <ion-radio class="radio m-5" value="Yes" slot="start"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">No</ion-label>
                <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-list class="list-radio full-width">
          <ion-radio-group class="display-flex">
            <ion-col size="3" class="col-align">
              <ion-list-header class="head">
                <ion-label>Ireregular Period?</ion-label>
              </ion-list-header>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Yes</ion-label>
                <ion-radio class="radio m-5" value="Yes" slot="start"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">No</ion-label>
                <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-list class="list-radio full-width">
          <ion-radio-group class="display-flex">
            <ion-col size="3" class="col-align">
              <ion-list-header class="head">
                <ion-label>Abnormal white discharge & smelly?</ion-label>
              </ion-list-header>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Yes</ion-label>
                <ion-radio class="radio m-5" value="Yes" slot="start"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">No</ion-label>
                <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-list class="list-radio full-width">
          <ion-radio-group class="display-flex">
            <ion-col size="3" class="col-align">
              <ion-list-header class="head">
                <ion-label>Painful Menusuration?</ion-label>
              </ion-list-header>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Yes</ion-label>
                <ion-radio class="radio m-5" value="Yes" slot="start"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">No</ion-label>
                <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-list class="list-radio full-width">
          <ion-radio-group class="display-flex">
            <ion-col size="3" class="col-align">
              <ion-list-header class="head">
                <ion-label>Period for more than 7 days?</ion-label>
              </ion-list-header>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Yes</ion-label>
                <ion-radio class="radio m-5" value="Yes" slot="start"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="3" size-sm="3" size-md="2" size-xs="3" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">No</ion-label>
                <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>