<ion-grid class="p-30 pt-0 mob-p-15">
  <ion-title class="page-title mob-p-10">Birth Hitory</ion-title>
  <ion-card class="bg-white form-card mob-p-10 mb-50">
    <form class="basicInfoForm">
      <ion-row>
        <ion-col size-xs="12" size-md="4" size-lg="4" size-sm="4" class="pl-20 mob-pl-0 mob-pr-0">
          <ion-list-header class="head pl-0 full-width">
            <ion-label class="radio-label full-width">Any congential problems/Anomalies?</ion-label>
          </ion-list-header>
          <ion-list class="list-radio full-width no-padding">
            <ion-radio-group class="display-flex">
              <ion-col size-sm="6" size-lg="6" size-md="6" size-xs="6" class="col-align">
                <ion-item class="item">
                  <ion-label class="radio-label">Yes</ion-label>
                  <ion-radio class="radio m-5" slot="start" value="Yes" checked></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size-sm="6" size-lg="6" size-md="6" size-xs="6" class="col-align">
                <ion-item class="item-border">
                  <ion-label class="radio-label">No</ion-label>
                  <ion-radio class="radio m-5" slot="start" value="No"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-radio-group>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-md="4" size-lg="4" size-sm="4" class="mob-pl-0 mob-pr-0">
          <ion-list-header class="head pl-0 full-width">
            <ion-label class="radio-label full-width">Vaccinated?</ion-label>
          </ion-list-header>
          <ion-list class="list-radio full-width no-padding">
            <ion-radio-group class="display-flex">
              <ion-col size-sm="6" size-lg="6" size-md="6" size-xs="6" class="col-align">
                <ion-item class="item">
                  <ion-label class="radio-label">Yes</ion-label>
                  <ion-radio class="radio m-5" slot="start" value="Yes" checked></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size-sm="6" size-lg="6" size-md="6" size-xs="6" class="col-align">
                <ion-item class="item-border">
                  <ion-label class="radio-label">No</ion-label>
                  <ion-radio class="radio m-5" slot="start" value="No"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-radio-group>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-md="4" size-lg="4" size-sm="4" class="pl-20 mob-pl-0 mob-pr-0">
          <ion-list-header class="head pl-0 full-width">
            <ion-label class="radio-label full-width">Good cry after Birth?</ion-label>
          </ion-list-header>
          <ion-list class="list-radio full-width no-padding">
            <ion-radio-group class="display-flex">
              <ion-col size-sm="6" size-lg="6" size-md="6" size-xs="6" class="col-align">
                <ion-item class="item">
                  <ion-label class="radio-label">Yes</ion-label>
                  <ion-radio class="radio m-5" slot="start" value="Yes" checked></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size-sm="6" size-lg="6" size-md="6" size-xs="6" class="col-align">
                <ion-item class="item-border">
                  <ion-label class="radio-label">No</ion-label>
                  <ion-radio class="radio m-5" slot="start" value="No"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-radio-group>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-md="4" size-lg="4" size-sm="4" class="mob-pl-0 mob-pr-0">
          <ion-list-header class="head pl-0 full-width">
            <ion-label class="radio-label full-width">Any Birth injuries?</ion-label>
          </ion-list-header>
          <ion-list class="list-radio full-width no-padding">
            <ion-radio-group class="display-flex">
              <ion-col size-sm="6" size-lg="6" size-md="6" size-xs="6" class="col-align">
                <ion-item class="item">
                  <ion-label class="radio-label">Yes</ion-label>
                  <ion-radio class="radio m-5" slot="start" value="Yes" checked></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size-sm="6" size-lg="6" size-md="6" size-xs="6" class="col-align">
                <ion-item class="item-border">
                  <ion-label class="radio-label">No</ion-label>
                  <ion-radio class="radio m-5" slot="start" value="No"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-radio-group>
          </ion-list>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col size="12" class="submitButton">
        <ion-button type="submit" class="btn btn-primary">
          Save and Continue<ion-icon name="arrow-forward" class="ml-5"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
</ion-card>