<ion-content>
  <ion-grid class="p-30 mob-p-15">
    <ion-title class="page-title mob-p-10">Mensuration</ion-title>
    <ion-card class="bg-white form-card mob-p-10">
      <form class="basicInfoForm">
        <ion-row>

          <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
            <ion-label class="input-label">Month</ion-label>
            <ion-select class="input-text" placeholder="Select One">
              <ion-select-option value="Jan">Jan</ion-select-option>
              <ion-select-option value="Mar">Mar</ion-select-option>
              <ion-select-option value="May">May</ion-select-option>
              <ion-select-option value="Jul">Jul</ion-select-option>
              <ion-select-option value="Sep">Sep</ion-select-option>
              <ion-select-option value="Nov">Nov</ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
            <ion-label class="input-label">Day Cycle</ion-label>
            <ion-input class="input-text"></ion-input>
          </ion-col>

          <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
            <ion-label class="input-label">Period Starts</ion-label>
            <ion-datetime class="input-text" display-format="MMM DD, YYYY HH:mm"></ion-datetime>
          </ion-col>

          <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
            <ion-label class="input-label">Period Ends</ion-label>
            <ion-datetime class="input-text" display-format="MMM DD, YYYY HH:mm"></ion-datetime>
          </ion-col>

          <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
            <ion-label class="input-label">Duration</ion-label>
            <ion-input class="input-text"></ion-input>
          </ion-col>

          <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
            <ion-label class="input-label">If any menstrual problem</ion-label>
            <ion-textarea class="textarea" placeholder="Enter any notes here"></ion-textarea>
          </ion-col>

          <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="mob-pl-0 mob-pr-0">
            <ion-list-header class="head pl-0 full-width">
              <ion-label class="radio-label full-width">If any menstrual problem irregular?</ion-label>
            </ion-list-header>
            <ion-list class="list-radio full-width no-padding">
              <ion-radio-group class="display-flex">
                <ion-col size-sm="4" size-lg="4" size-md="4" size-xs="4" class="col-align">
                  <ion-item class="item">
                    <ion-label class="radio-label">Yes</ion-label>
                    <ion-radio class="radio m-5" slot="start" value="Yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size-sm="4" size-lg="4" size-md="4" size-xs="4" class="col-align">
                  <ion-item class="item-border">
                    <ion-label class="radio-label">No</ion-label>
                    <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-radio-group>
            </ion-list>
          </ion-col>

          <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
            <ion-label class="input-label">Action Taken By ANM &amp; Teacher</ion-label>
            <ion-textarea class="textarea" placeholder="Enter any notes here"></ion-textarea>
          </ion-col>

          <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
            <ion-label class="input-label">Treatment given by Medical Officer</ion-label>
            <ion-textarea class="textarea" placeholder="Enter any notes here"></ion-textarea>
          </ion-col>

          <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
            <ion-label class="input-label">Referral</ion-label>
            <ion-input class="input-text" placeholder="Enter referral"></ion-input>
          </ion-col>

          <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="mob-pl-0 mob-pr-0">
            <ion-list-header class="head pl-0 full-width">
              <ion-label class="radio-label full-width">Follow up?</ion-label>
            </ion-list-header>
            <ion-list class="list-radio full-width no-padding">
              <ion-radio-group class="display-flex">
                <ion-col size-sm="4" size-lg="4" size-md="4" size-xs="4" class="col-align">
                  <ion-item class="item">
                    <ion-label class="radio-label">Yes</ion-label>
                    <ion-radio class="radio m-5" slot="start" value="Yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size-sm="4" size-lg="4" size-md="4" size-xs="4" class="col-align">
                  <ion-item class="item-border">
                    <ion-label class="radio-label">No</ion-label>
                    <ion-radio class="radio m-5" slot="start" value="No" checked></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-radio-group>
            </ion-list>
          </ion-col>

        </ion-row>
      </form>
      <ion-row class="mt-30">
        <ion-col size="12" class="submitButton">
          <ion-button type="submit" class="btn btn-primary">
            Save and Finish
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>