<!-- <ion-header>
    <ion-toolbar>
      <ion-title class="page-title mob-p-10">Students</ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-grid class="table-container p-30 mob-p-15">
        <ion-title class="page-title mob-p-10">Students</ion-title>
<!-- <div class="table-container mob-p-15"> -->
    <ion-card class="bg-white form-card mob-p-10 pt-0">
        <!-- <div class="student-export-dropdown">
            <med-download [options]="downloadOptions"></med-download>
        </div> -->
        <app-table [options]="options"></app-table>
    </ion-card>
</ion-grid>
