<ion-content>
  <ion-grid class="p-30 mob-p-15">
    <ion-title class="page-title mob-p-10">BMI</ion-title>
    <ion-card class="bg-white form-card mob-p-10">
      <form class="basicInfoForm">
        <ion-row>

          <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
            <ion-label class="input-label">Month</ion-label>
            <ion-select class="input-text" placeholder="Select One">
              <ion-select-option value="Jan">Jan</ion-select-option>
              <ion-select-option value="Mar">Mar</ion-select-option>
              <ion-select-option value="May">May</ion-select-option>
              <ion-select-option value="Jul">Jul</ion-select-option>
              <ion-select-option value="Sep">Sep</ion-select-option>
              <ion-select-option value="Nov">Nov</ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
            <ion-label class="input-label">Height</ion-label>
            <ion-input class="input-text" placeholder="Enter height"></ion-input>
          </ion-col>

          <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
            <ion-label class="input-label">Weight</ion-label>
            <ion-input class="input-text" placeholder="Enter weight"></ion-input>
          </ion-col>

          <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
            <ion-label class="input-label">BMI</ion-label>
            <ion-input class="input-text" placeholder="Enter BMI"></ion-input>
          </ion-col>

          <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
            <ion-label class="input-label">Remarks</ion-label>
            <ion-textarea class="textarea" placeholder="Enter remarks here"></ion-textarea>
          </ion-col>

        </ion-row>
      </form>
      <ion-row>
        <ion-col size="12" class="submitButton">
          <ion-button type="submit" class="btn btn-primary">
            Save and Finish
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>