.customised-card {
    ion-col {
        position: relative;
    }

    ion-icon {
        zoom: 3;
        position: absolute;
        top: 2px;
        left: -4px;
        opacity: 0.4;
        transform: skewX(-7deg);
    }

    ion-card-header {
        --background: transparent;
    }

    ion-card-title {
        font-size: 40px;
    }

    ion-card-subtitle {
        font-weight: 300;
        margin: 0;
    }

    &:hover {
        box-shadow: 0 5px 2px -2px rgba(0,0,0,.1), 0 5px 5px 0 rgba(0,0,0,.12), 0 5px 6px 0 rgba(0,0,0,.10);
        transition: all 0.2s ease-in;
    }
}

.header-sidenavigation {
    padding: 0;

    ion-item {
        position: relative;
        cursor: pointer;

        .arrow {
            position: absolute;
            right: 0;
            top: 19px;
        }

        ion-label {
            img {
                max-width: 32px;
                border-radius: 50%;
            }
        }
    }
}

.submenu-list {
    position: fixed;
    max-width: 170px;
    width: 100%;
    background: #fff !important;
    right: 4px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    border-color: #e2e2e2;
    border-radius: .25rem;
    transition: all 0.3s ease-in;

    &.opened {
        top: 65px;
        opacity: 1;
        visibility: visible;
    }

    ion-item {
        --min-height: 33px;
        cursor: pointer;

        &:hover {
            --background: var(--ion-color-light);
        }

        ion-label {
            margin: 0;
        }
    }

    ion-icon {
        font-size: 20px;
        margin-right: 10px;
        border-radius: 50%;
    }
}