<!-- <ion-header>
  <ion-toolbar>
    <ion-title>student-profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid class="p-30 mob-p-15">
    <ion-row class="full-width">
      <ul class="stepper full-width">
        <li class="active" routerLink="./basic-info">Basic Info</li>
        <li routerLink="/student-profile/address">Address</li>
        <li>Pic Upload</li>
      </ul>
    </ion-row>
  </ion-grid>
  <ng-container>
    <router-outlet></router-outlet>
  </ng-container>
</ion-content>