
.menu-content >.ion-page { // for right panel background and padding 
    background:#f4f7fa;
    display: block;
}
.menu-content >.ion-page >ion-content{
    --background:#f4f7fa;
}
.btn,button{
	cursor:pointer;
	vertical-align:middle;
	position:relative;
	display:inline-block;
	font-size:13px;
    --padding: 10px 20px;
    --border-radius: 0.25rem;
    font-size: 14px;
	line-height:1.41;
    --background:transparent;
    --border:1px solid transparent;
    text-transform: capitalize;
}
.btn-success{
	background-color: #5cb85c !important;
    border-color: #4cae4c;
	color:#fff;
}
.btn-success:hover{
	background-color: #449d44 !important;
    border-color: #398439 !important;
}
.btn-primary, .btn-primary:focus,.btn-primary:hover {
    background-color: #04a9f5;
    border-color: #04a9f5;
    color:#fff !important;
   
}
.btn-danger{
	background-color:#c9302c !important;
	border: 1px solid #c9302c !important;
}
.btn-danger:hover{
	color:red;
	background-color:white;
}
.btn-info{
	background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}
.btn-info:hover{
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-warning{
	background-color: #f0ad4e !important;
    border-color: #eea236 !important;
}
.btn-warning:hover{
	background-color: #ec971f;
    border-color: #d58512;
}
.btn-default{
	color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover{
	background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-lg{
	padding: 10px 16px;
    border-radius: 6px;
}
.btn-sm{
	padding: 5px 10px;
    border-radius: 3px;
}
.btn-xs{
	padding: 1px 5px;
    line-height: 1.5;
    border-radius: 3px;
} 
.btn-round{
	border-radius:50%;
	padding:22px 15px;
}
.btn-white, .btn-white:focus {
    background-color:white;
    border:2px solid #337ab7;
   color:black;
}
.btn-white:hover  {
    background-color:#337ab7;
    border:2px solid #337ab7;
    color:white;
}
.btn-round:hover{
	background-color:white;
	transform: rotate(360deg);
	color:#337ab7;
	transition:all 0.2s;
}
.btn-link{
    --background:transparent !important;
    --padding:0;
    --border:0px !important;
    --border-radius:0 !important;
}
.bg-white{
    background: #fff;
}
.bg-black{
    background: black;
}
.clr-black{
    color:black;
}
.clr-white{
    color:white;
}
.clr-link{
    color:rgba(0, 0, 0, 0.4);
}
.link{
    text-decoration:none;
}
.list-no-br{
    --inner-border-width: 0px; 
    --border-width: 0px;// It will remove ion-list default border bottom
}
/*input*/

ion-col{
    &.col-align{
        display:flex;
        padding:0;
    }
}
ion-label{
    &.input-label{
        color:#888;
        font-size:14px;
        font-weight:400;
        line-height:20px;
        margin-bottom:8px;
        display:flex;
    }
}
ion-input, ion-select,
ion-datetime {
    &.input-text{
        background: #f4f7fa;
        border: 1px solid #ced4da;
        padding: 10px 20px;
        font-size: 14px;
        height: auto;
        border-radius: .25rem;
        line-height: 1.5;
        color: #495057;
        font-weight:400;
        --placeholder-color: #888;
        width:100%;
        box-shadow:none;
        box-sizing:border-box;
    }
}

ion-select {
    &.input-text {
        padding-right: 15px;
    }
}

/*Textarea*/
ion-item.textarea-list,
div.textarea-list{
    --border-width: 0px;
    width:100%;
}

ion-textarea{
    &.textarea{
        &.small-height {
            height: 38px;
        }
        border:1px solid #ced4da;
        width:100%;
        box-shadow:none;
        box-sizing:border-box;
        margin-top:0;
        font-size: 14px;
        --placeholder-color: #888;
        background: #f4f7fa;
        font-size: 14px;
        height: 50px;
        border-radius: .25rem;
        line-height: 1.5;
    }
}

/*Radio*/
ion-list-header{
    &.head{
        min-height: auto;
        align-self:start;
    }
}
.radio-label{
    color:#888 !important;
    font-size: 14px !important;
    line-height: 20px;
    margin-bottom: 8px;
}
ion-list.list-radio{
    background: transparent;
   
    ion-item {
        padding:0;
        --background: transparent;
        &.item{
            --min-height:40px;
            --inner-border-width: 0px;
            --padding-start: 0px;
            &.small-item {
                --min-height: 29px;
            }
        }
        ion-radio{
            &.radio{
            margin: 5px 5px 5px 0px;
            --color-checked: #888;
            }
        }
    }
}
/*Checkbox*/
ion-list.check-list{
    ion-item {
        padding:0;

        &.item{
            --min-height:40px;
            --inner-border-width: 0px;
        }
        ion-label{
            &.check-label{
                margin: 5px 0;
                font-size: 14px;
                color:#888;
            }
        }
        ion-checkbox{
            &.checkbox{
            margin: 5px 20px 5px 0px;
            }
        }
    }
}

.labelling {
    ion-label {
        font-size: 14px;
        margin-top: 12px;
        display: inline-block;
    }

    .width-200 {
        max-width: 200px;
    }
}
/*Calendar*/
ion-datetime.date{
  padding: 10.5px 20px;
}
/*select*/
select {
    box-sizing: border-box;
    box-shadow: none;
    cursor: pointer;
    background-color: #f4f7fa !important;
    width:100%;
    color:#888;
    padding-left:8px !important;
    border: 1px solid #ced4da;
    padding: 10.5px 20px;
    font-size: 14px;
    height: auto;
    border-radius: .25rem;
    line-height: 1.5;
}
/*stepper*/
.stepper {
    counter-reset: step; 
}
.stepper li{
    list-style-type: none; 
    float: left; 
    width: 33.33%; 
    position:relative; 
    text-align: center;
    cursor: pointer;
    font-size:12px;
}
.stepper li::before {
    content:counter(step); 
    counter-increment: step; 
    height:30px;
    width:30px; 
    line-height: 30px; 
    border: 2px solid #ddd; 
    display:block; 
    text-align: center;
    margin: 0 auto 10px auto; 
    border-radius: 50%; 
    background-color: white; 
}
.stepper li::after {
    content: '';
    position: absolute;
    width: 90%;
    background: #ddd;
    border: 1px solid #ddd;
    margin-left: 16px;
    top: 15px;
    left: -50%;
}
.stepper li:first-child::after {
    content:none;
}
.stepper li.active {
    color:#0453A0;
}
.stepper li.active::before {
    border-color:#0453A0;
}
.stepper li.active + li::after{
    background-color:#0453A0; 
    border:1px solid #0453A0;
}
.page-title{
    font-size:17px;
    background: white;
    border-bottom: 1px solid #f1f1f1;
    padding: 20px 30px;
    color:#000000;
    font-size: 17px;
    font-weight: 400;
}
ion-card{
    &.form-card{
        margin: 0;
        padding: 30px 25px;
        border-radius: 0;
        background:White;
        box-shadow:none;
        width:100%;
    }
}
/*table scss*/
.table-container {
    overflow-x: auto;
    background:#f4f7fa;
    display: flex;
    width:100%;
    height:100%;
    padding:30px;
}
.table-container table {
    border-bottom: 1px solid #dee2e6;
}
.table-container table thead tr:nth-child(odd) {
    background-color: #ECECEC;
}
.table-container thead th {
    font-weight: 600;
    border-bottom: 0px!important;
  }
.table-container td, table th {
    // border: 1px solid #1a2035!important;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #181818;
    position: relative;
    padding: 12px 10px;
    // border: 1px solid #cdd5dc;
    border-top-width: 0;
    vertical-align: middle;
    text-align:left;
    color:black;
  }
  .table-container tr, .table-container thead tr {
    height: 40px;
    &:hover{
        background-color: #ECECEC;
    }
}
  
  .custom-table > tbody > tr{
    border:1px solid black;
  }
  .ng2-smart-titles{
    border-bottom: 2px solid #dee2e6; 
    padding-bottom:20px;
    width: 100% !important;
    color: #000;
  }
  .ng2-smart-sort-link{
      color:#000 !important;
      font-weight: 600;
  }
  .ng2-smart-th {
    padding:12px 10px;
  }
.custom-table > table > tbody >tr , .custom-table > table > tbody >tr > td{
  border-top: 1px solid #dee2e6;
  padding:12px 10px;
  color:#212529;
}

/*pagination*/
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none!important;
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25)
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}
.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6
}


.pagination>li:first-child>a,.pagination>li:first-child>span,.pagination>li:last-child>a,.pagination>li:last-child>span,.pagination>li>a,.pagination>li>span {
    border-radius: 100px!important;
    margin: 0 2px;
    color: #777;
    border-color: #ddd
}

.pagination.pg-default>li.active:first-child>a,.pagination.pg-default>li.active:last-child>a,.pagination.pg-default>li.active>a{
    background: #1a2035;
    border-color: #1a2035;
    color: #fff
}

.pagination.pg-primary>li.active:first-child>a,.pagination.pg-primary>li.active:last-child>a,.pagination.pg-primary>li.active>a,n {
    background: #1572e8;
    border-color: #1572e8;
    color: #fff
}
.ng2-smart-pagination .page-link-next, .ng2-smart-pagination .page-link-prev {
    font-size: 14px!important;
}
