.full-width{
    width:100%;
}
.full-height{
    height:100%;
}
.no-padding{
    padding:0 !important;
}
.no-margin{
    margin:0 !important;
}
.border-none{
    border:0px;
}
.float-right{
    float:right;
}
.display-flex{
    display:flex;
}
.p-15{
    padding:15px;
}
.p-30{
    padding:30px;
}
.pl-0{
    padding-left:0;
}
.pl-10{
    padding-left:10px;
}
.pr-10{
    padding-right:10px;
}
.pl-20{
    padding-left:20px;
}
.pr-20{
    padding-right:20px;
}
.pt-0{
    padding-top:10px !important;
}
.pb-10{
    padding-bottom:10px !important;
}
.mt-10{
    margin-top:10px;
}
.mt-15{
    margin-top:15px;
}
.mt-20{
    margin-top:20px;
}
.mt-30{
    margin-top:30px;
}
.ml-5{
    margin-left:5px;
}
.ml-10{
    margin-left:10px;
}
.mr-10{
    margin-right:10px;
}
.mt-15{
    margin-top:15px;
}
.mt-20{
    margin-top:20px;
}
/*font size*/
.fs-12{
    font-size:12px !important;
}
.fs-14{
    font-size:14px !important;
}
.fs-16{
    font-size:16px;
}
.fs-18{
    font-size:18px;
}
.fs-20{
    font-size:20px;
}
.fs-24{
    font-size:24px;
}
/**--Flex Based CSS--**/
.justify-end {
    justify-content: flex-end;

    @media (max-width: 768px) {
        &.no-end-on-sm {
            justify-content: flex-start;
        }
    }
}
.d-flex {
    display: flex !important;
}
.align-center {
    align-items: center !important;
}
.flex-row {
    flex-direction: row;
}
.white-bg {
    background: #fff;
}
.white--bg {
    --background: #fff;
}
@media (min-width: 320px) and (max-width: 480px) {
    .mob-p-10{
        padding:10px !important;
    }
    .mob-p-15{
        padding:15px !important;
    }
    .mob-p-20{
        padding:20px !important;
    }
    .mob-pl-0{
        padding-left:0px !important;
    }
    .mob-pr-0{
        padding-right:0px !important;
    }
    .mob-p-0{
        padding:0px !important;
    }
}