.full-width{
    width:100%;
}
.full-height{
    height:100%;
}
.no-padding{
    padding:0 !important;
}
.no-margin{
    margin:0 !important;
}
.border-none{
    border:0px;
}
.float-right{
    float:right;
}
.display-flex{
    display:flex;
}
.mt-10{
    margin-top:10px;
}
.mt-15{
    margin-top:15px;
}
.mt-20{
    margin-top:20px;
}
.ml-5{
    margin-left:5px;
}
.ml-10{
    margin-left:10px;
}
.mr-10{
    margin-right:10px;
}
.mt-15{
    margin-top:15px;
}
.mt-20{
    margin-top:20px;
}
/*font size*/
.fs-12{
    font-size:12px;
}
.fs-14{
    font-size:14px;
}
.fs-16{
    font-size:16px;
}
.fs-18{
    font-size:18px;
}
.fs-20{
    font-size:20px;
}
.fs-24{
    font-size:24px;
}
/**--Flex Based CSS--**/
.justify-end {
    justify-content: flex-end;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}