<ion-header>
    <ion-toolbar>
      <ion-title>Students</ion-title>
    </ion-toolbar>
</ion-header>
<div class="table-container mob-p-15">
    <ion-card class="bg-white form-card mob-p-10 pt-0">
        <div class="student-export-dropdown">
            <med-download [options]="downloadOptions"></med-download>
            <!--div ngbDropdown class="d-inline-block">
                <button class="btn  dropdown-toggle download-button" id="export_students" ngbDropdownToggle>Export</button>
                <div ngbDropdownMenu aria-labelledby="export_students">
                    <button ngbDropdownItem>Current Page only</button>
                    <div class="dropdown-divider"></div>
                    <button ngbDropdownItem (click)="export($event)">All Pages</button>
                </div>
            </div-->
        </div>
        <ng2-smart-table id="myTableIdElementId" class="custom-table" [settings]="settings" [source]="source" >
        </ng2-smart-table>
    </ion-card>
</div>
