<ion-grid class="p-30 pt-0 mob-p-15">
  <ion-title class="page-title mob-p-10">Pic Upload</ion-title>
  <ion-card class="bg-white form-card mob-p-10 mb-50">
    <form class="basicInfoForm">
      <ion-row>
        <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
          <ion-label class="input-label">Upload Pic</ion-label>
          <ion-input type="file" class="input-text" placeholder="Enter fullname"></ion-input>
        </ion-col>
      </ion-row>
    </form>
    <ion-row class="mt-30">
      <ion-col size="12" class="submitButton">
        <ion-button type="submit" class="btn btn-primary">
          Save and Finish
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-grid>