<ion-grid class="p-30 mob-p-15">
  <ion-title class="page-title mob-p-10">Basic Info</ion-title>
  <ion-card class="bg-white form-card mob-p-10">
  <form class="basicInfoForm">

    <ion-row>
      <ion-col size="12" size-lg="6" size-xs="12" size-md="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
        <ion-label class="input-label">FullName</ion-label>
        <ion-input class="input-text" placeholder="Enter fullname"></ion-input>
      </ion-col>

      <ion-col size="12" size-xs="12" size-lg="6" size-md="6" size-sm="6" class="pl-20 mob-pl-0 mob-pr-0">
        <ion-label class="input-label">Name of guardian</ion-label>
        <ion-input class="input-text" placeholder="Enter fathername/mothername/guardianname"></ion-input>
      </ion-col>

      <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
        <ion-label class="input-label">Age</ion-label>
        <ion-input class="input-text" placeholder="Enter age"></ion-input>
      </ion-col>

      <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pl-20 mob-pl-0 mob-pr-0">
        <ion-list-header class="head pl-0 full-width">
          <ion-label class="radio-label full-width">Sex</ion-label>
        </ion-list-header>
        <ion-list class="list-radio full-width no-padding">
          <ion-radio-group class="display-flex">
            <ion-col size-sm="4" size-lg="4" size-md="4" size-xs="4" class="col-align">
              <ion-item class="item">
                <ion-label class="radio-label">Male</ion-label>
                <ion-radio class="radio m-5" slot="start" value="Male" checked></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size-sm="4" size-lg="4" size-md="4" size-xs="4" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">Female</ion-label>
                <ion-radio class="radio m-5" slot="start" value="Female"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size-sm="4" size-lg="4" size-md="4" size-xs="4" class="col-align">
              <ion-item class="item-border">
                <ion-label class="radio-label">Trans</ion-label>
                <ion-radio class="radio m-5" slot="start" value="Neutral"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-radio-group>
        </ion-list>
      </ion-col>

      <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
        <ion-label class="input-label">In which class student joined?</ion-label>
        <select class="selectBox">
          <option value="">Select Class</option>
          <option value="">VI</option>
          <option value="">VII</option>
          <option value="">VIII</option>
          <option value="">XI</option>
          <option value="">X</option>
        </select>
      </ion-col>

      <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pl-20 mob-pl-0 mob-pr-0">
        <ion-label class="input-label">Blood Group</ion-label>
        <select class="selectBox">
          <option value="">Select blood grop</option>
          <option value="">O +ve</option>
          <option value="">O -ve</option>
          <option value="">B +ve</option>
          <option value="">B -ve</option>
          <option value="">AB +ve</option>
          <option value="">AB -ve</option>
        </select>
      </ion-col>

      <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
        <ion-label class="input-label">Date of Birth</ion-label>
        <ion-datetime class="input-text" display-format="MMM DD, YYYY HH:mm"></ion-datetime>
      </ion-col>

      <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pl-20 mob-pl-0 mob-pr-0">
        <ion-label class="input-label">Place of Birth</ion-label>
        <ion-input class="input-text" placeholder="Enter place of birth"></ion-input>
      </ion-col>

      <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
        <ion-label class="input-label">Birth address</ion-label>
        <ion-textarea class="textarea" placeholder="Enter birth address"></ion-textarea>
      </ion-col>

      <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pl-20 mob-pl-0 mob-pr-0">
        <ion-label class="input-label">Community</ion-label>
        <ion-input class="input-text" placeholder="Enter commuinty"></ion-input>
      </ion-col>

      <ion-col size-xs="12" size-md="6" size-lg="6" size-sm="6" class="pr-20 mob-pl-0 mob-pr-0">
        <ion-label class="input-label">Aadhar Number</ion-label>
        <ion-input class="input-text" placeholder="Enter aadhar number"></ion-input>
      </ion-col>
    </ion-row>
  </form>
  <ion-row class="mt-30">
    <ion-col size="12" class="submitButton">
      <ion-button type="submit" class="btn btn-primary">
        Save and Continue<ion-icon name="arrow-forward" class="ml-5"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-card>
</ion-grid>