// .m-5{
//     margin:5px 5px 5px 0px !important;
// }
.page-title{
    font-size:17px;
    background: white;
    border-bottom: 1px solid #f1f1f1;
    padding: 20px 30px;
    color:#000000;
    font-size: 17px;
    font-weight: 400;
}
ion-card{
    &.form-card{
        margin: 0;
        padding: 30px 25px;
        border-radius: 0;
        background:White;
        box-shadow:none;
    }
}
