<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <div class="container">
    <ion-grid>
      <ion-row>

        <ion-col size="12" size-sm="6" size-md="3">
          <ion-card class="customised-card">
            <ion-item href="#" class="blue-gradient">
              <ion-grid>
                <ion-row>
                  <ion-col size="3">
                    <ion-icon name="wifi" color="light" size="large"></ion-icon>
                  </ion-col>
                  
                  <ion-col size="9">
                    <ion-card-header class="text-right">
                      <ion-card-title color="light">40</ion-card-title>
                      <ion-card-subtitle color="light">Card Subtitle</ion-card-subtitle>
                    </ion-card-header>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-sm="6" size-md="3">
            <ion-card class="customised-card">
              <ion-item href="#" class="pink-gradient">
                <ion-grid>
                  <ion-row>
                    <ion-col size="3">
                      <ion-icon name="contacts" color="light" size="large"></ion-icon>
                    </ion-col>
                    
                    <ion-col size="9">
                      <ion-card-header class="text-right">
                        <ion-card-title color="light">7+</ion-card-title>
                        <ion-card-subtitle color="light">Card Subtitle</ion-card-subtitle>
                      </ion-card-header>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-sm="6" size-md="3">
              <ion-card class="customised-card">
                <ion-item href="#" class="orange-gradient">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="3">
                        <ion-icon name="medal" color="light" size="large"></ion-icon>
                      </ion-col>
                      
                      <ion-col size="9">
                        <ion-card-header class="text-right">
                          <ion-card-title color="light">2.0</ion-card-title>
                          <ion-card-subtitle color="light">Card Subtitle</ion-card-subtitle>
                        </ion-card-header>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-card>
            </ion-col>

            <ion-col size="12" size-sm="6" size-md="3">
                <ion-card class="customised-card">
                  <ion-item href="#" class="green-gradient">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="3">
                          <ion-icon name="shirt" color="light" size="large"></ion-icon>
                        </ion-col>
                        
                        <ion-col size="9">
                          <ion-card-header class="text-right">
                            <ion-card-title color="light">0</ion-card-title>
                            <ion-card-subtitle color="light">Card Subtitle</ion-card-subtitle>
                          </ion-card-header>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-card>
              </ion-col>
        
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size-md="12">
          <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
        </ion-col>
        <!-- <ion-col size-md="6">
            <ion-progress-bar color="secondary" value="0.5" type="indeterminate"></ion-progress-bar>
          </ion-col> -->
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
           <med-app-table></med-app-table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
